@charset "UTF-8";
:root {
  --400: "gilroy-regular", sans-serif;
  --500: "gilroy-medium", sans-serif;
  --600: "gilroy-semibold", sans-serif;
  --700: "gilroy-bold", sans-serif;
  --bg: #327cb5;
  --bg-blue: #00aeef;
  --color: #012d68;
  --blue: #012d68;
  --hover: #0a499e;
  --blue-light: #e5f0f8;
  --white: #ffffff;
  --black: #000000;
  --red: #d10032;
}

@font-face {
  font-family: "gilroy-bold";
  src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-semibold";
  src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-medium";
  src: url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-regular";
  src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Вращение по кругу */
.bounce {
  -webkit-animation: bounce 3.8s ease-in-out infinite;
          animation: bounce 3.8s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(1.095);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.02);
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(1.095);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.02);
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100svh;
  left: 0px;
  top: 0px;
  z-index: 9;
  background-color: var(--color);
  transition: 1s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  overflow: hidden;
}
.preloader:before {
  content: "";
  display: block;
  width: 100%;
  height: 500px;
  background: #5899ca;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  filter: blur(100px);
  opacity: 0.5;
  z-index: 2;
}
.preloader p {
  display: block;
  width: 100%;
  max-width: 360px;
  text-align: right;
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 150px;
  color: var(--white);
  line-height: 1;
  font-family: var(--700);
  font-weight: 700;
  opacity: 0.4;
}

.body.loaded .preloader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 813px) {
  .preloader:before {
    width: 800px;
    left: 50%;
    margin-left: -400px;
    top: -35%;
  }
  .preloader p {
    max-width: 100%;
    text-align: center;
    right: 0px;
    bottom: 10svh;
    font-size: 100px;
    padding: 0px 20px;
  }
}
@media (max-width: 813px) and (orientation: landscape) {
  .preloader p {
    bottom: 20px;
    text-align: right;
    font-size: 80px;
  }
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--color);
  font-family: var(--400);
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
strong {
  font-family: var(--700);
  font-weight: 700;
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled, button.loading {
  cursor: auto;
  pointer-events: none;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

.white {
  color: var(--white);
}

.target {
  width: 10px;
  height: 10px;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}
.target#recipes {
  transform: translate(0%, -120px);
}
.target#happynes {
  transform: translate(0%, -60px);
}

.grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.grid.grid--col3 {
  gap: 30px;
}
.grid.grid--col3 > li {
  width: calc((100% - 60px) / 3);
}
.grid.grid--col4 {
  gap: 35px;
}
.grid.grid--col4 > li {
  width: calc((100% - 105px) / 4);
}

@media (max-width: 1279px) {
  .grid.grid--col3 {
    gap: 30px 24px;
  }
  .grid.grid--col3 > li {
    width: calc((100% - 48px) / 3);
  }
  .grid.grid--col4 {
    gap: 30px 24px;
  }
  .grid.grid--col4 > li {
    width: calc((100% - 48px) / 3);
  }
}
@media (max-width: 767px) {
  .grid.grid--col3 {
    gap: 24px 12px;
  }
  .grid.grid--col3 > li {
    width: calc((100% - 12px) / 2);
  }
  .grid.grid--col4 {
    gap: 24px 12px;
  }
  .grid.grid--col4 > li {
    width: calc((100% - 12px) / 2);
  }
}
.main {
  display: block;
  position: relative;
  z-index: 1;
  flex: 1;
}
.main:before, .main:after {
  content: "";
  width: 100vw;
  height: 100svh;
  position: fixed;
  left: 0px;
  top: 0px;
}
.main:before {
  background-image: url("../img/main-bg-left-desctop.webp"), url("../img/main-bg-right-desctop.webp");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  z-index: 1;
  pointer-events: none;
}
@media (max-width: 767px) {
  .main:before {
    background-image: url("../img/main-bg-left-mobil.webp"), url("../img/main-bg-right-mobil.webp");
  }
}
@media (orientation: portrait) {
  .main:before {
    background-image: url("../img/main-bg-left-mobil.webp"), url("../img/main-bg-right-mobil.webp");
  }
}
.main:after {
  background: #5899ca;
  background: radial-gradient(circle, rgb(88, 153, 202) 0%, rgb(40, 107, 158) 76%, rgb(6, 74, 145) 100%);
  z-index: 0;
}
@media (min-width: 768px) {
  .main.main--noImage:before {
    content: none;
  }
}

.container {
  display: block;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}
@media (max-width: 1329px) {
  .container {
    padding: 0px 20px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 10px;
  }
}

.section {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.section.visible {
  overflow: visible;
}

.burger {
  display: none;
  opacity: 0;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
  transition: background-color 1s ease-in-out 0s;
}

.header__content {
  display: flex;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .header__content {
    max-width: 100%;
    padding: 0px 20px;
  }
}
@media (max-width: 767px) {
  .header__content:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: var(--blue);
    z-index: 1;
    transition: 1s;
    opacity: 0;
  }
}

.header__logo {
  display: block;
  position: absolute;
  top: 0px;
  width: 250px;
  height: calc(50svh + 184px);
  pointer-events: none;
  transform-origin: top center;
  z-index: 10;
  transition: 1s;
}
@media (max-width: 813px) {
  .header__logo {
    width: 200px;
    height: calc(50svh + 120px);
  }
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 50%;
  pointer-events: none;
  transition: 1s;
  transform: translate(-50%, 0%) scale(1);
  z-index: 4;
  opacity: 1;
}
.logo img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.navigation {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex: 1;
}

.menu {
  display: inline-flex;
  width: 50%;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 60px;
  transition: 1s;
  opacity: 0;
}
.menu.menu--left {
  justify-content: flex-end;
  padding-right: 150px;
}
.menu.menu--right {
  justify-content: flex-start;
  padding-left: 150px;
}
.menu li .menu__link {
  font-family: var(--600);
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media (max-width: 1279px) {
  .menu {
    gap: 30px;
  }
  .menu.menu--left {
    padding-right: 120px;
  }
  .menu.menu--right {
    padding-left: 120px;
  }
  .menu li .menu__link {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .menu {
    gap: 20px;
  }
  .menu.menu--left {
    padding-right: 62px;
  }
  .menu.menu--right {
    padding-left: 62px;
  }
  .menu li .menu__link {
    font-size: 12px;
  }
}

.body.loaded .header {
  background-color: var(--blue);
}
@media (max-width: 767px) {
  .body.loaded .header__content:before {
    opacity: 1;
  }
}
.body.loaded .burger {
  opacity: 1;
}
.body.loaded .menu {
  opacity: 1;
}
.body.loaded .header__logo .logo {
  transform: translate(-50%, calc(-50svh + 140px)) scale(1);
  pointer-events: all;
}
.body.loaded .header__logo.header__logo--small .logo {
  width: 120px;
  transform: translate(-50%, calc(-50svh - 22px)) scale(1);
}
@media (max-width: 813px) {
  .body.loaded .header__logo .logo {
    width: 100px;
    transform: translate(-50%, calc(-50svh + 24px)) scale(1);
  }
  .body.loaded .header__logo.header__logo--small .logo {
    width: 100px;
    transform: translate(-50%, calc(-50svh + 24px)) scale(1);
  }
}
.body.loaded .header.fixed .header__logo .logo {
  width: 120px;
  transform: translate(-50%, calc(-50svh - 22px)) scale(1);
}
@media (max-width: 813px) {
  .body.loaded .header.fixed .header__logo .logo {
    width: 100px;
    transform: translate(-50%, calc(-50svh + 24px)) scale(1);
  }
}

@media (max-width: 767px) {
  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 32px;
    height: 20px;
    font-size: 0px;
    z-index: 4;
    margin-left: auto;
  }
  .burger span, .burger:before, .burger:after {
    width: 100%;
    position: absolute;
    height: 2px;
    background: var(--white);
    transition: 0.6s;
    opacity: 1;
    z-index: 1;
  }
  .burger:before, .burger:after {
    content: "";
  }
  .burger span {
    transform: translate(0px, 0px);
  }
  .burger:before {
    transform: translate(0px, -8px) rotate(0deg);
  }
  .burger:after {
    transform: translate(0px, 8px) rotate(0deg);
  }
  .burger.open span {
    transform: translate(10px, 0px);
    opacity: 0;
  }
  .burger.open:before {
    background: var(--white);
    transform: translate(0px, 0px) rotate(45deg);
  }
  .burger.open:after {
    background: var(--white);
    transform: translate(0px, 0px) rotate(-45deg);
  }
  .navigation {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0px;
    right: 0px;
    background: var(--blue);
    transform: translate(0%, -100%);
    transition: transform 0.6s;
    padding: 0px;
    padding-top: 180px;
    z-index: 0;
  }
  .navigation:before {
    content: "";
    width: 800px;
    height: 80%;
    background: #5899ca;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: -22%;
    border-radius: 100%;
    filter: blur(100px);
    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
  }
  .navigation:after {
    content: "";
    width: 100vw;
    height: 100svh;
    position: fixed;
    left: 0px;
    top: 0px;
    background-image: url("../img/main-bg-left-mobil.webp"), url("../img/main-bg-right-mobil.webp");
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    z-index: 1;
    pointer-events: none;
  }
  .navigation::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  .navigation.open {
    transform: translate(0%, 0%);
  }
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    max-width: 768px;
    min-height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    flex: none;
    margin-bottom: 40px;
    gap: 40px;
    z-index: 3;
    flex-shrink: 0;
  }
  .menu.menu--left {
    padding-right: 0px;
    width: 100%;
  }
  .menu.menu--right {
    padding-left: 0px;
    width: 100%;
  }
  .menu li {
    text-align: center;
  }
  .menu li .button {
    padding: 10px 24px;
  }
  .menu li .button span {
    font-size: 32px;
  }
  .menu li:last-child {
    display: block;
  }
  .menu li .menu__link {
    display: block;
    font-size: 24px;
    line-height: 32px;
    max-width: 260px;
  }
}
.buttons {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.buttons.align--left {
  justify-content: flex-start;
}

.button {
  display: inline-flex;
  overflow: hidden;
  z-index: 1;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 18px;
  line-height: 1.2;
  color: var(--white);
  font-family: var(--500);
  font-weight: 500;
  padding: 14px 30px;
  z-index: 1;
  transition: background 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  background: var(--blue);
}
.button.loading {
  color: rgba(0, 0, 0, 0);
  cursor: auto;
  pointer-events: none;
}
.button.loading:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border-left: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  -webkit-animation: rotate 0.4s linear infinite;
          animation: rotate 0.4s linear infinite;
}
.button.full {
  width: 100%;
}
.button.small {
  min-height: 20px;
  padding: 4px 24px;
  font-size: 10px;
}
.button.blue {
  background: var(--bg-blue);
}
.button:before {
  content: "";
  position: absolute;
  left: -100px;
  top: -50%;
  opacity: 0.5;
  pointer-events: none;
  width: 100px;
  height: 200%;
  z-index: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(59, 199, 250, 0.8) 40%, rgba(59, 199, 250, 0.8) 60%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation: moveSkew 4s linear infinite;
          animation: moveSkew 4s linear infinite;
}
.button:hover {
  background: var(--hover);
}

@-webkit-keyframes moveSkew {
  0% {
    transform: skew(-30deg) translate(0px, 0px);
  }
  25% {
    transform: skew(-30deg) translate(450px, 0px);
  }
  100% {
    transform: skew(-30deg) translate(450px, 0px);
  }
}

@keyframes moveSkew {
  0% {
    transform: skew(-30deg) translate(0px, 0px);
  }
  25% {
    transform: skew(-30deg) translate(450px, 0px);
  }
  100% {
    transform: skew(-30deg) translate(450px, 0px);
  }
}
.back {
  display: inline-flex;
  position: relative;
  width: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 12px;
  font-family: var(--600);
  font-weight: 600;
  font-size: 24px;
  transition: 0.3s;
}
@media (max-width: 1023px) {
  .back {
    color: var(--white);
  }
}
.back:before {
  content: "";
  width: 12px;
  height: 22px;
  background: url("../img/svg/arrow-left.svg") no-repeat center center/cover;
}
.back:hover {
  color: var(--white);
}

.scroll-down {
  width: 48px;
  height: 98px;
  border-radius: 36px;
  border: 5px solid #fff;
  position: absolute;
  right: 20px;
  bottom: 0px;
  -webkit-animation: sd 4s ease infinite;
          animation: sd 4s ease infinite;
}
@media (max-width: 1439px) {
  .scroll-down {
    right: 10%;
  }
}
@media (max-width: 1023px) {
  .scroll-down {
    right: 5%;
  }
}
@media (max-width: 767px) {
  .scroll-down {
    display: none;
  }
}
.scroll-down:before {
  content: "";
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: rgba(255, 255, 255, 0.3);
  left: 4px;
  top: 4px;
  border-radius: 36px;
  transform-origin: center top;
  transform: translate(0px, 4px) scale(0.3);
  -webkit-animation: sdbefore 4s ease infinite;
          animation: sdbefore 4s ease infinite;
}
.scroll-down:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  left: 4px;
  top: 4px;
  border-radius: 30px;
  transform: translate(0px, -5px) scale(0.3);
  opacity: 0;
  -webkit-animation: sdafter 4s ease infinite;
          animation: sdafter 4s ease infinite;
}

@-webkit-keyframes sd {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, 10px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes sd {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, 10px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes sdafter {
  0% {
    transform: translate(0px, -5px) scale(0.3);
    opacity: 0;
  }
  10% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(0px, 50px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(0px, 50px) scale(1);
    opacity: 1;
  }
  60% {
    transform: translate(0px, -5px) scale(0.3);
    opacity: 0;
  }
  100% {
    transform: translate(0px, -5px) scale(0.3);
    opacity: 0;
  }
}
@keyframes sdafter {
  0% {
    transform: translate(0px, -5px) scale(0.3);
    opacity: 0;
  }
  10% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(0px, 50px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(0px, 50px) scale(1);
    opacity: 1;
  }
  60% {
    transform: translate(0px, -5px) scale(0.3);
    opacity: 0;
  }
  100% {
    transform: translate(0px, -5px) scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes sdbefore {
  0% {
    transform: translate(0px, 4px) scale(0.3);
  }
  10% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(0px, 0px) scale(1);
  }
  60% {
    transform: translate(0px, 4px) scale(0.3);
  }
  100% {
    transform: translate(0px, 4px) scale(0.3);
  }
}
@keyframes sdbefore {
  0% {
    transform: translate(0px, 4px) scale(0.3);
  }
  10% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(0px, 0px) scale(1);
  }
  60% {
    transform: translate(0px, 4px) scale(0.3);
  }
  100% {
    transform: translate(0px, 4px) scale(0.3);
  }
}
.language-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 26px;
  height: 26px;
  left: calc(100% - 42px);
  top: 16px;
  background: url("../img/svg/lang.svg") no-repeat center center/cover;
  z-index: 4;
  transition: 0.6s;
  opacity: 0;
}
@media (max-width: 767px) {
  .language-btn {
    left: 20px;
    width: 26px;
    height: 26px;
  }
}

.loaded .language-btn {
  opacity: 1;
}

.title {
  display: block;
  position: relative;
  width: 100%;
  font-size: 56px;
  line-height: 1;
  letter-spacing: -1.24px;
  text-align: left;
  text-transform: uppercase;
}
.title.ta--center {
  text-align: center;
}
.title.title--h2 {
  font-size: 28px;
  text-transform: none;
}

.footer {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: url("../img/svg/footer-background.svg") no-repeat center top/cover;
  margin-top: auto;
  flex-shrink: 0;
  z-index: 2;
}

.copy {
  font-size: 14px;
  font-family: var(--600);
  font-weight: 600;
}

@media (max-width: 767px) {
  .footer {
    height: 120px;
    background: url("../img/svg/footer-background-mobil.svg") no-repeat center top/cover;
  }
}
body.locked {
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  padding: 50px 20px;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.backdrop:before {
  content: "";
  position: absolute;
  pointer-events: none;
  left: -20px;
  right: -20px;
  top: -50px;
  width: calc(100% + 40px);
  height: calc(100% + 100px);
  background: var(--hover);
  opacity: 0.7;
  grid-area: 1/1/2/2;
}

.popup {
  position: relative;
  transition: 0.5s;
  transform: translate(0px, 100px);
  opacity: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  pointer-events: none;
}
@media (max-width: 419px) {
  .popup {
    width: 100%;
  }
}
.popup.visible {
  opacity: 1;
  transform: translate(0px, 0px);
}
.popup .popup-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  pointer-events: all;
}

.popup-close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 100%;
  bottom: 100%;
  transform: rotate(0deg);
  z-index: 2;
}
@media (max-width: 767px) {
  .popup-close {
    left: auto;
    right: -10px;
  }
}
.popup-close:before, .popup-close:after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 50%;
  height: 4px;
  background: var(--white);
  transition: 0s;
  transition: 0.3s;
}
.popup-close:before {
  transform: rotate(45deg);
}
.popup-close:after {
  transform: rotate(-45deg);
}
.popup-close:hover:before {
  transform: rotate(135deg);
}
.popup-close:hover:after {
  transform: rotate(45deg);
}

.popup-content {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(0, 0, 0, 0);
}

#markets {
  max-width: 1125px;
}
@media (max-width: 1279px) {
  #markets {
    max-width: 906px;
  }
}
@media (max-width: 1023px) {
  #markets {
    max-width: 538px;
  }
}
@media (max-width: 767px) {
  #markets {
    max-width: 354px;
  }
}

#language-popup {
  max-width: 300px;
}
#language-popup .title {
  text-align: center;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 28px;
  color: var(--white);
}

.language-switcher {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 6px;
}
.language-switcher li {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 56px;
  border-radius: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #00aeef;
  transition: 0.3s;
  color: var(--white);
  font-size: 24px;
  font-family: var(--400);
  font-weight: 400;
  cursor: pointer;
}
.language-switcher li:hover, .language-switcher li:focus {
  background: var(--white);
  color: var(--blue);
}
.language-switcher li.active {
  background: var(--white);
  color: var(--blue);
  cursor: auto;
  pointer-events: none;
}

.hero-backgrounds {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.hero-backgrounds:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 40%;
}
.hero-backgrounds .hero-backgrounds__left,
.hero-backgrounds .hero-backgrounds__right {
  position: absolute;
  height: 100%;
  top: 0px;
}
.hero-backgrounds .hero-backgrounds__left {
  width: calc(50% + 30px);
  left: 0px;
}
.hero-backgrounds .hero-backgrounds__right {
  width: calc(50% - 30px);
  right: 0px;
}
.hero-backgrounds img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1279px) {
  .hero-backgrounds {
    margin-top: 60px;
  }
  .hero-backgrounds:before {
    padding-top: 50%;
  }
  .hero-backgrounds .hero-backgrounds__left {
    width: 50%;
  }
  .hero-backgrounds .hero-backgrounds__right {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .hero-backgrounds:before {
    padding-top: 64%;
  }
}
.section--hero {
  position: relative;
  z-index: 2;
  padding-bottom: 300px;
  margin-top: -300px;
}
@media (min-width: 1441px) {
  .section--hero {
    margin-top: -330px;
  }
}
@media (max-width: 1439px) {
  .section--hero {
    margin-top: -250px;
  }
}
@media (max-width: 1023px) {
  .section--hero {
    margin-top: -200px;
  }
}
@media (max-width: 767px) {
  .section--hero {
    margin-top: -180px;
  }
}
.section--hero:before {
  content: "";
  position: absolute;
  width: 136%;
  left: 50%;
  top: 200px;
  min-width: 1948px;
  height: 670px;
  transform: translate(-50%, 0%);
  background: linear-gradient(360deg, var(--blue) 40%, #23608f 100%);
  border-radius: 100%;
}
@media (max-width: 1439px) {
  .section--hero:before {
    top: 150px;
  }
}
@media (max-width: 767px) {
  .section--hero:before {
    min-width: 1350px;
  }
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--white);
  position: relative;
  width: 100%;
  height: auto;
  margin: 20px 0px;
}
@media (max-width: 1439px) {
  .hero-content {
    margin: 10px 0px;
  }
}
@media (max-width: 767px) {
  .hero-content {
    margin: 0px;
  }
}
.hero-content .title {
  text-align: center;
  font-family: var(--500);
  font-weight: 500;
  text-transform: none;
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 0.005em;
}
.hero-content .title span {
  font-size: 56px;
  text-transform: uppercase;
}
@media (max-width: 1439px) {
  .hero-content .title {
    font-size: 30px;
  }
  .hero-content .title span {
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  .hero-content .title {
    font-size: 21px;
  }
  .hero-content .title span {
    font-size: 28px;
  }
}
.hero-content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(50vw - 300px);
  height: 235px;
  right: calc(50% + 300px);
  top: 50%;
  z-index: 2;
  pointer-events: none;
  background: url("../img/hero/ribbon.webp") no-repeat right;
  background-size: auto 100%;
}
@media (max-width: 1023px) {
  .hero-content:before {
    width: calc(50vw - 220px);
    right: calc(50% + 220px);
  }
}
@media (max-width: 767px) {
  .hero-content:before {
    content: none;
  }
}

.hero-content__image {
  position: absolute;
  left: 50px;
  width: 320px;
  z-index: 2;
  transform: translate(0%, -10%);
}
.hero-content__image img {
  width: 100%;
}
@media (max-width: 1439px) {
  .hero-content__image {
    width: 250px;
    left: auto;
    margin-right: 700px;
  }
}
@media (max-width: 1023px) {
  .hero-content__image {
    width: 180px;
    transform: translate(0%, 0%);
    margin-right: 550px;
  }
}
@media (max-width: 767px) {
  .hero-content__image {
    position: relative;
    width: 172px;
    margin-right: 0px;
    margin-bottom: 170px;
    margin-top: -86px;
  }
}

.hero-head {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 570px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  left: 50%;
  transform: translate(-60%, 0%);
  -webkit-mask-image: url("../img/svg/hero-mask.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  mask-image: url("../img/svg/hero-mask.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
@media (max-width: 1439px) {
  .hero-head {
    max-width: 450px;
  }
}
@media (max-width: 767px) {
  .hero-head {
    max-width: 412px;
    transform: translate(-60%, 230px);
  }
}
.hero-head:before {
  content: "";
  width: 66px;
  height: 100%;
  background: var(--white);
  position: absolute;
  left: -66px;
  filter: blur(15px);
  opacity: 0.5;
  -webkit-animation: shine 2.6s linear infinite;
          animation: shine 2.6s linear infinite;
}
.hero-head img {
  width: 100%;
  opacity: 1;
}

@-webkit-keyframes shine {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(660px);
  }
  100% {
    transform: translateX(660px);
  }
}

@keyframes shine {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(660px);
  }
  100% {
    transform: translateX(660px);
  }
}
.section--happynes {
  overflow: hidden;
  z-index: 3;
  margin-top: -230px;
}
.section--happynes .container {
  width: 100vw;
}
.section--happynes .title {
  position: relative;
  z-index: 2;
}
.section--happynes .title text {
  font-size: 24px;
  font-family: var(--700);
  font-weight: 700;
}
.section--happynes .title text textPath {
  text-transform: none;
  letter-spacing: 1.4;
  font-size: 24px;
  letter-spacing: 0.005em;
  fill: var(--blue);
}

.white-circle {
  width: 136%;
  left: 50%;
  min-width: 1948px;
  height: auto;
  min-height: 670px;
  position: relative;
  padding: 100px 0px 120px 0px;
  transform: translate(-50%, 0%);
  background: var(--blue-light);
  border-radius: 100%;
  overflow: hidden;
}
.white-circle:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -260px;
  width: 520px;
  height: 750px;
  background: url("../img/map.webp") no-repeat center center/cover;
  z-index: 1;
  transform-origin: center top;
  -webkit-animation: rotateIn 6s infinite ease;
          animation: rotateIn 6s infinite ease;
  opacity: 0.5;
}

@-webkit-keyframes rotateIn {
  0% {
    transform: rotate(-16deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-16deg);
  }
}

@keyframes rotateIn {
  0% {
    transform: rotate(-16deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-16deg);
  }
}
.happynes {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  margin-top: 100px;
  z-index: 3;
}
.happynes li {
  width: calc((100% - 80px) / 3);
  text-align: center;
}
.happynes li:nth-child(2) {
  margin-top: 20px;
}
.happynes li p {
  font-size: 20px;
  display: block;
  margin-top: 10px;
}

.happynes__image {
  width: 100%;
  height: 160px;
  position: relative;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}
.happynes__image img {
  position: absolute;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .happynes {
    gap: 30px;
  }
  .happynes li p {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 1023px) {
  .white-circle {
    padding: 60px 0px 80px 0px;
    min-height: 20px;
  }
  .happynes {
    margin-top: 50px;
  }
  .happynes li p {
    font-size: 16px;
    line-height: 1.2;
  }
  .happynes__image img {
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  .section--happynes .title {
    min-width: 550px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .white-circle {
    min-width: 1350px;
    padding: 60px 0px 80px 0px;
  }
  .white-circle:before {
    content: none;
  }
  .happynes {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 40px;
    gap: 40px;
  }
  .happynes li {
    width: 100%;
    order: 1;
  }
  .happynes li:nth-child(2) {
    margin-top: 0px;
    order: 2;
  }
  .happynes li p {
    font-size: 18px;
    line-height: 1.2;
  }
  .happynes__image {
    height: auto;
    align-items: center;
    align-content: center;
  }
  .happynes__image img {
    position: relative;
  }
}
.section--markets {
  padding: 180px 0px 140px 0px;
  color: var(--white);
}
.section--markets .markets {
  margin-top: 40px;
}

.markets {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 24px;
}
.markets li {
  display: flex;
  position: relative;
  width: 140px;
  height: 80px;
  border-radius: 14px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--white);
}
.markets li a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.markets li a:hover .button {
  background: var(--hover);
}
.markets li img {
  width: 100%;
  max-width: 100px;
}
.markets .button {
  width: 80px;
  position: absolute;
  top: 100%;
  margin-top: -10px;
}
@media (max-width: 1279px) {
  .markets {
    gap: 14px;
  }
  .markets li {
    width: 170px;
  }
}
@media (max-width: 413px) {
  .markets li {
    width: calc((100% - 14px) / 2);
  }
}

.section--recipe {
  padding: 60px 0px;
}
.section--recipe .buttons {
  margin-top: 40px;
}
.section--recipe .buttons .button {
  width: 100%;
  max-width: 320px;
}
@media (max-width: 767px) {
  .section--recipe .container > .title {
    font-size: 46px;
    max-width: 320px;
    margin: 0 auto;
  }
  .section--recipe .buttons {
    margin-top: 30px;
  }
}

.recipes-header {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 265px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url("../img/svg/52.svg") no-repeat center center;
  background-size: auto 100%;
  z-index: 2;
}
@media (max-width: 1279px) {
  .recipes-header {
    min-height: 240px;
    margin-bottom: 50px;
  }
}

.filters-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 1290px;
  height: 40px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  pointer-events: none;
}
.filters-wrapper.fixed {
  position: fixed;
  top: 80px;
}
@media (max-width: 1279px) {
  .filters-wrapper {
    justify-content: center;
    bottom: -20px;
  }
}

.filters {
  display: flex;
  position: relative;
  width: 368px;
  height: 40px;
  pointer-events: all;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 2px;
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(8, 56, 115, 0.1);
}
@media (max-width: 767px) {
  .filters {
    width: 100%;
    max-width: 375px;
  }
}

.select {
  display: block;
  position: relative;
  height: 40px;
}
.select:first-child {
  width: 140px;
}
.select:first-child .select__button {
  border-radius: 20px 0px 0px 20px;
}
@media (max-width: 767px) {
  .select:first-child {
    width: 128px;
  }
}
.select:last-child {
  width: 60%;
}
.select:last-child .select__button {
  border-radius: 0px 20px 20px 0px;
}
@media (max-width: 767px) {
  .select:last-child {
    width: 210px;
  }
}
.select .select__button {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background: var(--white);
  width: 100%;
  height: 40px;
  padding: 0px 30px 0px 20px;
}
.select .select__button span {
  font-size: 16px;
  font-family: var(--600);
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .select .select__button span {
    font-size: 14px;
  }
}
.select .select__button:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.3s;
  transform: rotate(0deg);
  background: url("../img/svg/arrow.svg") no-repeat center center;
}
.select .select__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0px;
  width: auto;
  transform: translate(0px, 0px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.3s;
  background: var(--white);
  font-family: var(--600);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(8, 56, 115, 0.1);
}
.select .select__dropdown li {
  white-space: nowrap;
  cursor: pointer;
  padding: 4px 0px;
}
.select .select__dropdown li:hover {
  color: var(--bg);
}
@media (max-width: 767px) {
  .select .select__dropdown li {
    font-size: 14px;
  }
}
.select.open .select__button:before {
  transform: rotate(180deg);
}
.select.open .select__dropdown {
  transform: translate(0px, 10px);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.recipe {
  display: flex;
  position: relative;
  width: 100%;
  gap: 20px;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  background: var(--white);
}
.recipe .recipe__image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  flex-shrink: 0;
}
.recipe .recipe__image:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 129.24%;
}
.recipe .recipe__image img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transform: scale(1);
}
.recipe .recipe__content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding: 0px 36px 36px 36px;
  flex: 1;
}
@media (max-width: 1023px) {
  .recipe .recipe__content {
    padding: 0px 30px 30px 30px;
    margin-top: -20px;
  }
}
@media (max-width: 767px) {
  .recipe .recipe__content {
    padding: 0px 24px 24px 24px;
  }
}
.recipe .recipe__content .title {
  display: block;
  position: relative;
  text-transform: none;
  font-size: 22px;
  line-height: 1.1;
}
.recipe .recipe__content .title.butterfly:before {
  width: 16px;
  height: 16px;
}
.recipe .recipe__content .description {
  display: block;
  position: relative;
  max-width: 490px;
  font-size: 20px;
  line-height: 1.2;
  font-family: var(--400);
  font-weight: 400;
}
.recipe .recipe__content .info {
  margin-top: auto;
  border-top: 1px solid rgba(1, 45, 104, 0.4);
  padding-top: 20px;
}
@media (max-width: 1023px) {
  .recipe .recipe__content .info {
    gap: 14px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .recipe .recipe__content .info {
    justify-content: space-between;
    gap: 6px;
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .recipe .recipe__content .info li {
    gap: 6px;
  }
}
.recipe.recipe--week {
  gap: 35px;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
  padding: 30px;
}
@media (max-width: 767px) {
  .recipe.recipe--week {
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    max-width: 375px;
    margin: 0 auto;
    margin-top: 40px;
  }
}
.recipe.recipe--week .recipe__image {
  width: 48%;
  border-radius: 24px;
}
.recipe.recipe--week .recipe__image:before {
  padding-top: 80%;
}
@media (max-width: 767px) {
  .recipe.recipe--week .recipe__image {
    width: 100%;
  }
  .recipe.recipe--week .recipe__image:before {
    padding-top: 150%;
  }
}
.recipe.recipe--week .recipe__content {
  width: calc(52% - 35px);
  align-items: flex-start;
  padding: 0;
}
.recipe.recipe--week .recipe__content * {
  order: 2;
}
.recipe.recipe--week .recipe__content .info {
  order: 1;
  margin-top: 20px;
  padding: 0;
  border: none;
  margin-bottom: auto;
}
.recipe.recipe--week .recipe__content .title {
  font-size: 44px;
}
@media (max-width: 1279px) {
  .recipe.recipe--week .recipe__content .title {
    font-size: 36px;
  }
}
@media (max-width: 1279px) {
  .recipe.recipe--week .recipe__content .description {
    font-size: 18px;
  }
}
.recipe.recipe--week .recipe__content .button {
  margin-top: 10px;
  width: 100%;
  max-width: 250px;
}
@media (max-width: 767px) {
  .recipe.recipe--week .recipe__content {
    width: 100%;
  }
  .recipe.recipe--week .recipe__content .info {
    width: 100%;
  }
  .recipe.recipe--week .recipe__content .info li:before {
    width: 24px;
    height: 24px;
  }
  .recipe.recipe--week .recipe__content .title {
    font-size: 44px;
  }
  .recipe.recipe--week .recipe__content .description {
    font-size: 20px;
  }
  .recipe.recipe--week .recipe__content .button {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
  }
}
.recipe:hover .recipe__image img {
  transform: scale(1.1);
}
.recipe:hover .more {
  background: rgba(1, 45, 104, 0.7);
}
.recipe:hover .more:after {
  transform: translate(0%, 0%);
}
.recipe:hover .more span {
  transform: translate(0px, 0px);
  opacity: 1;
}

.info {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 24px;
  font-size: 16px;
  font-family: var(--700);
  font-weight: 700;
}
.info li {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  white-space: nowrap;
}
.info li:before {
  content: "";
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.info li:nth-child(1):before {
  background: url("../img/svg/time.svg") no-repeat center center/cover;
}
.info li:nth-child(2):before {
  background: url("../img/svg/person.svg") no-repeat center center/cover;
}
.info li:nth-child(3).ease:before {
  background: url("../img/svg/ease.svg") no-repeat center center/cover;
}
.info li:nth-child(3).medium:before {
  background: url("../img/svg/medium.svg") no-repeat center center/cover;
}
.info li:nth-child(3).hard:before {
  background: url("../img/svg/hard.svg") no-repeat center center/cover;
}
.info.info--big {
  gap: 30px;
  font-size: 22px;
}
.info.info--big li {
  gap: 10px;
}
.info.info--big li:before {
  width: 32px;
  height: 32px;
}
.info.info--white li:nth-child(1):before {
  background: url("../img/svg/time-white.svg") no-repeat center center/cover;
}
.info.info--white li:nth-child(2):before {
  background: url("../img/svg/person-white.svg") no-repeat center center/cover;
}
.info.info--white li:nth-child(3).ease:before {
  background: url("../img/svg/ease-white.svg") no-repeat center center/cover;
}
.info.info--white li:nth-child(3).medium:before {
  background: url("../img/svg/medium-white.svg") no-repeat center center/cover;
}
.info.info--white li:nth-child(3).hard:before {
  background: url("../img/svg/hard-white.svg") no-repeat center center/cover;
}

.butterfly * {
  position: relative;
  z-index: 1;
}
.butterfly:before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background: url("../img/svg/baterfly.svg") no-repeat center center/cover;
  left: 0px;
  top: 0px;
  z-index: 0;
  transform: translate(-70%, -80%);
}

.recipes {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  z-index: 1;
}
.recipes > li {
  width: calc((100% - 60px) / 3);
}
.recipes > li .recipe {
  height: 100%;
}
@media (max-width: 1279px) {
  .recipes {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
  }
  .recipes > li {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 1023px) {
  .recipes {
    max-width: 768px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .recipes {
    max-width: 375px;
    gap: 10px;
  }
  .recipes > li {
    width: 100%;
  }
}

.more {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba(1, 45, 104, 0);
  transition: 0.6s;
}
.more:before {
  content: "";
  width: 100%;
  height: 140px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: url("../img/svg/recipe-image-bg.svg") no-repeat center center/cover;
}
.more:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 120px;
  transform: translate(100%, -100%);
  transition: 0.6s;
  background: url("../img/svg/eye.svg") no-repeat center center/cover;
}
.more span {
  position: relative;
  font-size: 32px;
  font-family: var(--700);
  font-weight: 700;
  color: var(--white);
  transition: 0.6s;
  transform: translate(0px, 50px);
  opacity: 0;
}

.section--single {
  padding: 150px 0px 50px 0px;
  height: 100%;
  overflow: visible;
}
.section--single .container {
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.single {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 50px;
  margin-top: 40px;
}
.single .thumbnail {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  width: 38.75%;
  overflow: hidden;
  border-radius: 30px;
}
.single .thumbnail img {
  width: 100%;
}
.single .thumbnail.thumbnail--inMobil {
  display: none;
}
.single .content {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: var(--white);
  width: calc(61.25% - 50px);
}
.single .content .info {
  margin-top: 10px;
}
.single .content .title {
  text-transform: none;
  line-height: 1.1;
}
.single .content .title.title--h2 {
  margin-top: 10px;
}
.single .content .button {
  min-width: 260px;
  margin-top: 20px;
}

.list {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  font-size: 16px;
  padding-left: 24px;
}
.list li {
  position: relative;
  width: 100%;
}

ul.list li:before {
  content: "";
  width: 14px;
  height: 14px;
  background: url("../img/svg/li.svg") no-repeat center center/cover;
  position: absolute;
  left: 0px;
  top: 1px;
  transform: translate(-20px, 0px);
}

ol.list {
  counter-reset: item;
}
ol.list li {
  counter-increment: item;
}
ol.list li:before {
  content: counter(item) ".";
  position: absolute;
  left: 0px;
  transform: translate(-24px, 0px);
}

@media (max-width: 1439px) {
  .single {
    gap: 50px;
    margin-top: 40px;
    justify-content: space-between;
  }
  .single .thumbnail {
    width: 35%;
    border-radius: 30px;
    top: 90px;
  }
  .single .content {
    width: calc(65% - 50px);
  }
  .single .content .button {
    min-width: 60px;
    max-width: 260px;
    width: 100%;
  }
}
@media (max-width: 1279px) {
  .single {
    gap: 40px;
    margin-top: 30px;
  }
  .single .thumbnail {
    width: 35%;
    border-radius: 30px;
    top: 90px;
  }
  .single .content {
    width: calc(65% - 40px);
  }
  .single .content .title {
    font-size: 42px;
  }
  .single .content .title.title--h2 {
    margin-top: 10px;
    font-size: 28px;
  }
  .single .content .button {
    min-width: 60px;
    max-width: 260px;
    width: 100%;
  }
  .list {
    gap: 10px;
  }
}
@media (max-width: 1023px) {
  .single {
    gap: 30px;
    margin-top: 20px;
    max-width: 520px;
  }
  .single .thumbnail {
    display: none;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    top: 0px;
  }
  .single .thumbnail.thumbnail--inMobil {
    display: block;
    margin-top: 10px;
  }
  .single .content {
    width: 100%;
  }
  .single .content .title {
    font-size: 36px;
    line-height: 1.2;
  }
  .single .content .title:before {
    content: none;
  }
}
@media (max-width: 767px) {
  .section--single .container > .buttons {
    max-width: 320px;
  }
  .single {
    gap: 30px;
    margin-top: 20px;
    max-width: 320px;
  }
  .single .thumbnail {
    display: none;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    top: 0px;
  }
  .single .thumbnail.thumbnail--inMobil {
    display: block;
    margin-top: 10px;
  }
  .single .content {
    width: 100%;
  }
  .single .content .title {
    font-size: 36px;
    line-height: 1.2;
  }
  .single .content .title:before {
    content: none;
  }
  .single .content .button {
    max-width: 100%;
    width: 100%;
  }
  .single .info {
    gap: 6px;
    font-size: 16px;
    justify-content: space-between;
  }
  .single .info li:before {
    width: 24px;
    height: 24px;
  }
}
.about {
  max-width: 995px;
  margin: 0 auto;
  margin-top: -20px;
  padding-top: 100px;
  background: url("../img/svg/about.svg") no-repeat center top;
  background-size: 100% auto;
  color: var(--white);
  text-align: center;
}
.about .title {
  text-align: center;
}
.about .subtitle {
  max-width: 780px;
  margin: 0 auto;
  margin-top: 62px;
  font-size: 24px;
}

.about-list {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 68px;
}
.about-list li {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  background: var(--white);
  border-radius: 30px;
  padding: 32px 34px;
  width: calc((100% - 30px) / 2);
}
.about-list li img {
  width: 130px;
  border-radius: 20px;
}
.about-list .about-list__content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 6px;
}
.about-list .about-list__content h2 {
  font-size: 28px;
}
.about-list .about-list__content span {
  font-size: 22px;
  line-height: 1.2;
}
.about-list .about-list__content p {
  font-size: 18px;
  line-height: 1.2;
}

.about-footer {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
  color: var(--white);
  margin-top: 30px;
}
.about-footer .about-footer__image {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.about-footer .about-footer__image img {
  position: relative;
  width: 100%;
}
.about-footer p {
  font-size: 24px;
  line-height: 1.2;
  font-family: var(--400);
  font-weight: 400;
  text-align: center;
}
.about-footer .buttons {
  margin-top: 20px;
}
.about-footer .buttons .button {
  min-width: 320px;
}

@media (max-width: 1365px) {
  .about-list .about-list__content h2 {
    font-size: 28px;
    line-height: 1.1;
  }
  .about-list .about-list__content span {
    font-size: 20px;
    line-height: 1.2;
  }
  .about-list .about-list__content p br {
    display: none;
  }
}
@media (max-width: 1279px) {
  .about {
    max-width: 700px;
    margin: 0 auto;
    margin-top: -20px;
    padding-top: 100px;
    background: url("../img/svg/about.svg") no-repeat center top;
    background-size: 100% auto;
    color: var(--white);
    text-align: center;
  }
  .about .title {
    text-align: center;
  }
  .about .subtitle {
    max-width: 700px;
    font-size: 20px;
    margin-top: 40px;
  }
  .about-list {
    gap: 20px;
  }
  .about-list li {
    gap: 20px;
    padding: 22px 24px;
  }
  .about-list .about-list__content h2 {
    font-size: 22px;
  }
  .about-list .about-list__content span {
    font-size: 16px;
  }
  .about-list .about-list__content p {
    font-size: 14px;
  }
  .about-footer {
    max-width: 600px;
    gap: 40px;
    margin-top: 40px;
  }
  .about-footer p {
    font-size: 20px;
  }
  .about-footer .buttons {
    margin-top: 20px;
  }
  .about-footer .buttons .button {
    min-width: 20px;
    width: 100%;
    max-width: 320px;
  }
}
@media (max-width: 1023px) {
  .about {
    max-width: 670px;
  }
  .about .title {
    font-size: 48px;
  }
  .about-list {
    gap: 20px;
  }
  .about-list li {
    width: 100%;
    padding: 32px;
  }
  .about-list .about-list__content h2 {
    font-size: 28px;
  }
  .about-list .about-list__content span {
    font-size: 22px;
  }
  .about-list .about-list__content p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .about {
    max-width: 310px;
    padding-top: 0px;
    margin-top: 20px;
  }
  .about .title {
    font-size: 36px;
  }
  .about .subtitle {
    font-size: 18px;
    margin-top: 18px;
  }
  .about-list {
    gap: 10px;
    max-width: 400px;
  }
  .about-list li {
    width: 100%;
    flex-wrap: wrap;
    padding: 32px;
    border-radius: 32px;
  }
  .about-list li img {
    width: 100%;
    border-radius: 20px;
  }
  .about-list .about-list__content h2 {
    font-size: 28px;
  }
  .about-list .about-list__content span {
    font-size: 22px;
  }
  .about-list .about-list__content p {
    font-size: 18px;
  }
  .about-list .about-list__content p br {
    display: none;
  }
  .about-footer {
    max-width: 355px;
    gap: 30px;
    margin-top: 30px;
  }
  .about-footer p {
    font-size: 18px;
  }
}
.quiz-title {
  display: none;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  color: var(--white);
  text-align: center;
  transition: opacity 0.3s;
  opacity: 1;
}
.quiz-title.active {
  display: block;
}
.quiz-title .title {
  text-transform: none;
  font-size: 48px;
  text-align: center;
}
.quiz-title .subtitle {
  font-size: 20px;
  margin-top: 20px;
}

.quiz__result {
  display: none;
  position: relative;
  width: 100%;
  max-width: 636px;
  color: var(--white);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  margin: 30px auto;
}
.quiz__result.active {
  display: flex;
}
.quiz__result .icon {
  width: 60px;
  margin-bottom: 20px;
}
.quiz__result .icon img {
  width: 100%;
}
.quiz__result .title {
  text-transform: none;
  text-align: center;
  font-size: 48px;
}
.quiz__result p {
  font-size: 24px;
}
.quiz__result .buttons {
  margin-top: 20px;
}
.quiz__result .buttons .button {
  min-width: 320px;
}

.quiz__pagination {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--bg-blue);
  font-size: 24px;
  font-family: var(--700);
  font-weight: 700;
  right: 0px;
  top: -70px;
}

.quiz {
  display: none;
  position: relative;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  transition: opacity 0.3s;
}
.quiz.active {
  display: block;
}

.quiz__item {
  display: none;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  transition: opacity 0.3s;
  opacity: 0;
}
.quiz__item.active {
  display: flex;
}
.quiz__item .question {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 130px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--white);
  border-radius: 20px;
  padding: 40px;
  font-size: 32px;
  font-family: var(--600);
  font-weight: 600;
  text-align: center;
}
.quiz__item .question:before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: calc(100% - 30px);
  width: 180px;
  height: 126px;
  background: url("../img/leavs.webp") no-repeat center center/cover;
}
.quiz__item .answer {
  display: flex;
  position: relative;
  width: calc((100% - 20px) / 2);
  min-height: 82px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background: var(--white);
  border-radius: 20px;
  padding: 20px 26px 20px 68px;
  font-size: 18px;
  font-family: var(--500);
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  transition: 0.3s;
}
.quiz__item .answer::before {
  content: attr(data-quiz-answer);
  position: absolute;
  left: -2px;
  bottom: 0px;
  font-size: 96px;
  line-height: 0.68;
  color: var(--bg-blue);
  opacity: 0.2;
}
.quiz__item .answer:hover {
  background: #cceffc;
}

@media (max-width: 1023px) {
  .quiz-title {
    margin-top: 20px;
    max-width: 530px;
  }
  .quiz-title .title {
    font-size: 32px;
  }
  .quiz-title .subtitle {
    font-size: 18px;
  }
  .quiz {
    margin-top: 62px;
  }
  .quiz__pagination {
    font-size: 24px;
    top: -50px;
  }
  .quiz__item .question {
    min-height: 130px;
    padding: 40px;
    font-size: 24px;
  }
  .quiz__item .question:before {
    left: 20px;
    bottom: calc(100% - 30px);
    width: 120px;
    height: 84px;
  }
  .quiz__item .answer {
    width: calc((100% - 20px) / 2);
    min-height: 82px;
    padding: 20px 26px 20px 26px;
  }
  .quiz__item .answer::before {
    opacity: 0.2;
  }
}
@media (max-width: 767px) {
  .quiz-title {
    max-width: 280px;
  }
  .quiz__pagination {
    font-size: 22px;
    top: -40px;
  }
  .quiz__item .question {
    min-height: 100px;
  }
  .quiz__item .answer {
    width: 100%;
    min-height: 82px;
    padding: 20px 26px 20px 26px;
  }
  .quiz__result {
    max-width: 320px;
    margin: 10px auto 0px auto;
  }
  .quiz__result .title {
    font-size: 32px;
    line-height: 1.2;
  }
  .quiz__result .icon {
    margin-bottom: 0px;
  }
  .quiz__result p {
    font-size: 18px;
    letter-spacing: 0.02em;
  }
  .quiz__result p br {
    display: none;
  }
  .quiz__result .buttons .button {
    min-width: 20px;
    width: 100%;
    max-width: 320px;
  }
}